#calc{
  padding: 2rem;
  border: 2px solid black;
  background-color: rgb(23, 226, 196);
  width:250px;
  height:350px;
  
}

body{
  display:grid;
  justify-content: center;
}

#result{
  background: white;
  height:15%;
}

#result > p{
  font-size:2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: right;
  padding-right : 3%;
  padding-top: 5%;
}

#buttons{
  display:grid;
  padding-top :8%;
  max-width: 95%;;
  margin: 0 auto;
  grid-template-columns:repeat(4, 1fr);
  grid-auto-rows: 60px;
  grid-gap:8px;
  
  
}

#buttons > input{
  cursor: pointer;
  font-size: 1.5rem;
}